<div id="container">
  <div class="list-view">
    <ul>
      <li>
        <span class="avatar"></span>
        <span class="name">Wilfrid Wolfgang</span>
      </li>
      <li>
        <span class="avatar"></span>
        <span class="name">Mathias Bristol</span>
      </li>
      <li>
        <span class="avatar"></span>
        <span class="name">Tristin Bentley</span>
      </li>
      <li>
        <span class="avatar"></span>
        <span class="name">Edgar Roger</span>
      </li>
    </ul>
  </div>
</div>
