/*test*/
body{
  background: #ecf0f1;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
}

.holder{
  background: #fff;
  border-radius:5px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
  margin:100px auto;
  padding:30px 20px 20px;
  width:600px;
}

td{
  border-bottom:1px solid #f6f6f6;
  padding:5px 10px;
}

td:nth-child(2){
  text-align: right;
  width: 40px;
}

/*tr:last-child td{*/
  /*border:none;*/
  /*padding:30px 10px 10px;*/
  /*text-align: center;*/
/*}*/

input[type=checkbox] {
  cursor: pointer;
  height: 30px;
  margin:4px 0 0;
  position: absolute;
  opacity: 0;
  width: 30px;
  z-index: 2;
}

input[type=checkbox] + span {
  background: #e74c3c;
  border-radius: 50%;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
  display: inline-block;
  height: 30px;
  margin:4px 0 0;
  position:relative;
  width: 30px;
  transition: all .2s ease;
}

input[type=checkbox] + span::before, input[type=checkbox] + span::after{
  background:#fff;
  content:'';
  display:block;
  position:absolute;
  width:4px;
  transition: all .2s ease;
}

input[type=checkbox] + span::before{
  height:16px;
  left:13px;
  top:7px;
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

input[type=checkbox] + span::after{
  height:16px;
  right:13px;
  top:7px;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

input[type=checkbox]:checked + span {
  background:#2ecc71;
}

input[type=checkbox]:checked + span::before{
  height: 9px;
  left: 9px;
  top: 13px;
  -webkit-transform:rotate(-47deg);
  transform:rotate(-47deg);
}

input[type=checkbox]:checked + span::after{
  height: 15px;
  right: 11px;
  top: 8px;
}

input[type=submit] {
  background-color: #2ecc71;
  border: 0;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size:16px;
  text-align: center;
  padding: 12px 20px 14px;
}

.smallInput{
  width: 30px;
}


.modernButtonContainer {
  display: inline-block;
  margin-left: 10px;
}

.modernButton {
  display: inline-block;
  outline: none;
  height: 40px;
  text-align: center;
  width: 80px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid #1ECD97;
  color: #1ECD97;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.modernButton:hover {
  color: white;
  background: #1ECD97;
}

.modernButton:active {
  letter-spacing: 2px;
}

.modernButtonSettings:after {
  content: "SETTINGS";
}

.modernButtonPlay:after {
  content: "PLAY";
}

.modernButtonEdit:after {
  content: "EDIT";
}

.modernButtonEndGame:after {
  content: 'END GAME';
}

.avatar{
  border-radius: 50%;
  border: 3px solid black;
  width: 100px;
  height: 100px;
}

.item{
  max-height: 111px;
}

.item:hover{
  /*opacity: 0.3;*/
  background: #efefef;
}
