<form [formGroup]="form" name="loginForm">
  <div class="form-group">
    <label for="firstName">First name:</label>
    <input
      [(ngModel)]="registerUser.firstName" name="firstName"
      formControlName="firstName"
      id="firstName"
      type="text"
      class="form-control">
    <div *ngIf="firstName.touched && firstName.invalid" class="alert alert-danger">
      <div *ngIf="firstName.errors.required">First name is required</div>
      <div *ngIf="firstName.errors.minlength">First name must be {{firstName.errors.minlength.requiredLength}}</div>
    </div>
  </div>

  <div class="form-group">
    <label for="lastName">Last name:</label>
    <input
      [(ngModel)]="registerUser.lastName" name="lastName"
      formControlName="lastName"
      id="lastName"
      type="text"
      class="form-control">
    <div *ngIf="lastName.touched && lastName.invalid" class="alert alert-danger">
      <div *ngIf="lastName.errors.required">Last name is required</div>
      <div *ngIf="lastName.errors.minlength">Last name must be {{lastName.errors.minlength.requiredLength}}</div>
    </div>
  </div>

  <div class="form-group">
    <label for="birthday">Birthday:</label>
    <input
      [(ngModel)]="registerUser.birthday" name="birthday"
      formControlName="birthday"
      id="birthday"
      type="date"
      class="form-control">
    <div *ngIf="birthday.touched && birthday.invalid" class="alert alert-danger">
      <div *ngIf="birthday.errors.required">Birthday is required</div>
    </div>
  </div>

  <div class="form-group">
    <label>Gender:</label>
    <input type="radio" formControlName="gender" value="Male" name="gender" [(ngModel)]="registerUser.gender"> Male
    <input type="radio" formControlName="gender" value="Female" name="gender" [(ngModel)]="registerUser.gender"> Female
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input
      [(ngModel)]="registerUser.email" name="email"
      formControlName="email"
      id="email"
      type="email"
      class="form-control">
    <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
      <div *ngIf="email.errors.required">Email is required</div>
    </div>
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <input
      [(ngModel)]="registerUser.username" name="username"
      formControlName="username"
      id="username"
      type="text"
      class="form-control">
    <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
      <div *ngIf="username.errors.required">Username is required</div>
      <div *ngIf="username.errors.minlength">Username must be {{username.errors.minlength.requiredLength}}</div>
    </div>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input
      [(ngModel)]="registerUser.password" name="password"
      formControlName="password"
      id="password"
      type="password"
      class="form-control">
    <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
      <div *ngIf="password.errors.required">Password is required</div>
      <div *ngIf="password.errors.minlength">Password must be {{password.errors.minlength.requiredLength}}</div>
    </div>
    <div *ngIf="password.touched && password2.touched && !_passwordsAreTheSame" class="alert alert-danger">
      <div *ngIf="!passwordsAreTheSame">{{passwordError}}</div>
    </div>
  </div>

  <div class="form-group">
    <label>Retype password</label>
    <input
      (keyup)="checkPassword()"
      formControlName="password2"
      id="password2"
      name="password2"
      type="password"
      class="form-control">
    <div *ngIf="password2.touched && password2.invalid" class="alert alert-danger">
      <div *ngIf="password2.errors.required">Password is required</div>
      <div *ngIf="password2.errors.minlength">Password must be {{password2.errors.minlength.requiredLength}}</div>
    </div>
    <div *ngIf="password.touched && password2.touched && !_passwordsAreTheSame" class="alert alert-danger">
      <div *ngIf="!passwordsAreTheSame">{{passwordError}}</div>
    </div>
  </div>

  <label>{{label}}</label>

  <button class="btn btn-primary" type="submit" (click)=clickRegister()>Sign Up</button>
</form>
