<h2>My profile</h2>
<div class="row">
  <div class="col-md-6">
    <form [formGroup]="form">

      <div class="form-group">
        <label for="username">First name</label>
        <input
          [(ngModel)]="updatedUser.username"
          [readonly]="true"
          formControlName="username"
          id="username"
          type="text"
          class="form-control">
      </div>

      <div class="form-group">
        <label for="firstName">First name</label>
        <input
          [(ngModel)]="updatedUser.firstName"
          formControlName="firstName"
          id="firstName"
          type="text"
          class="form-control">
      </div>

      <div class="form-group">
        <label for="lastName">Last name</label>
        <input
          [(ngModel)]="updatedUser.lastName"
          formControlName="lastName"
          id="lastName"
          type="text"
          class="form-control">
      </div>

      <div class="form-group">
        <label >Password</label>
        <input
          [(ngModel)]="updatedUser.password"
          formControlName="password"
          id="password"
          name="password"
          type="password"
          class="form-control">
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength">Password must be {{password.errors.minlength.requiredLength}}</div>
        </div>
        <div *ngIf="password.touched && password2.touched && !_passwordsAreTheSame" class="alert alert-danger">
          <div *ngIf="!passwordsAreTheSame">{{passwordError}}</div>
        </div>
      </div>

      <div class="form-group">
        <label >Retype password</label>
        <input
          (keyup)="checkPassword()"
          formControlName="password2"
          id="password2"
          name="password2"
          type="password"
          class="form-control">
        <div *ngIf="password2.touched && password2.invalid" class="alert alert-danger">
          <div *ngIf="password2.errors.required">Password is required</div>
          <div *ngIf="password2.errors.minlength">Password must be {{password2.errors.minlength.requiredLength}}</div>
        </div>
        <div *ngIf="password.touched && password2.touched && !_passwordsAreTheSame" class="alert alert-danger">
          <div *ngIf="!passwordsAreTheSame">{{passwordError}}</div>
        </div>
      </div>

      <div class="form-group">
        <label>Gender:</label>
        <input type="radio" formControlName="gender" value="Male" name="gender" [(ngModel)]="updatedUser.gender"> Male
        <input type="radio" formControlName="gender" value="Female" name="gender" [(ngModel)]="updatedUser.gender"> Female
      </div>

      <div class="form-group">
        <label for="birthday">Birthday:</label>
        <input
          [(ngModel)]="updatedUser.birthday" name="birthday"
          formControlName="birthday"
          id="birthday"
          type="date"
          class="form-control">
        <div *ngIf="birthday.touched && birthday.invalid" class="alert alert-danger">
          <div *ngIf="birthday.errors.required">Birthday is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          (keyup)="checkPassword()"
          [(ngModel)]="updatedUser.email"
          [readonly]="true"
          formControlName="email"
          id="email"
          type="email"
          class="form-control">
      </div>

      <button class="btn btn-primary" (click)="changeUser()" type="submit">Change</button>
      <button class="btn btn-danger" type="submit">Cancel</button>
    </form>
  </div>
  <div class="col-md-6 text-center">
    <app-image-upload [imageUrl]="imageSrc" (profilePictureChanged)="onProfilePictureChanged($event)"></app-image-upload>
    <!--<img id="profilePic" src="https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png" />-->
    <!--<button>Upload picture</button>-->
  </div>
</div>
